/*
  This file contains the css for LookBook components
*/
.image-container {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .product-image-wrapper {
    aspect-ratio: 2 / 3;
  }
  .product-image-wrapper-small {
    aspect-ratio: 3 / 2;
  }
}

